@import '../../../assets/font-awesome-4.7.0/css/font-awesome.min.css';

.food-section,
.FeedForm--button-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    font-weight: bold;
}