@import '../../variables.scss';

.food-items {
    margin: 10px 0;
    padding: 0;

    .food-item {
        padding: 8px;
        margin: 5px;
        list-style: none;
        border-bottom: dashed 1px #ebedf1;
        border-left: solid 3px $color4;
    }
    
}