.NavigationItem {
    // display: inline-block;
    padding: 20px;
    border-bottom: 3px solid transparent;
    display: block;
    width: 100%;
    box-sizing: border-box;    
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    transform: scale(1);
    transition: transform .2s linear
}

.NavigationItem a:hover,
.NavigationItem a:active  {
    text-decoration: none;
    width: 100%;
    display: block;
    transform: scale(1.2);
    font-weight: bold;

}


