@import '../../../variables.scss';

.Button {
    background-color: $color1;
    padding: 10px 30px;
    font-size: 14px;
    font-family: $mainFont;
    border: none;
    color: $color2;
    width: 100%;
    margin-bottom: 30px;
}

.cancel {
    background-color: #cbf1f5;
    color: $color1;
}

.submit {
    background-color: #71c9ce;

}

.hide {
    display: none;
}