.Hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
  position: absolute;
  z-index: 100;
}
  .Hamburger:hover {
    opacity: 0.7; }
  .Hamburger.is-active:hover {
    opacity: 0.7; }
  .Hamburger.is-active .Hamburger-inner,
  .Hamburger.is-active .Hamburger-inner::before,
  .Hamburger.is-active .Hamburger-inner::after {
    background-color: white; }

.Hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.Hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .Hamburger-inner, .Hamburger-inner::before, .Hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .Hamburger-inner::before, .Hamburger-inner::after {
    content: "";
    display: block; }
  .Hamburger-inner::before {
    top: -10px; }
  .Hamburger-inner::after {
    bottom: -10px; }

.Hamburger--minus .Hamburger-inner::before, .Hamburger--minus .Hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.Hamburger--minus.is-active .Hamburger-inner::before, .Hamburger--minus.is-active .Hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.Hamburger--minus.is-active .Hamburger-inner::before {
  top: 0; }

.Hamburger--minus.is-active .Hamburger-inner::after {
  bottom: 0; }    