@import '../../../variables.scss';
@import '../../../mixins.scss';

.feed {
    &-details{
        background-color: white;
        @include formStyling;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 10px;
    }

    &-item {
        // border-bottom: solid 1px $color3;
        margin-bottom: 10px;
        display: table;

        &:last-of-type {
            border-bottom: none;
        }

    }

    &-time-container {
        display: table-cell;
    }

    &-time {
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        background-color: $color2;
        color: white;
        display: table-cell;
    }

    &-amount {
        display: inline-block;
        padding: 10px;
        display: table-cell;
    }

}