@import '../../../variables.scss';
@import '../../../mixins.scss';

.feed {
    &-date {
        padding: 5px 10px;
        background-color: $color1;
        color: $color2;
        border-left: 3px solid $color4;
        margin: 10px 0;
    }    
    &-details{
        background-color: white;
        // font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #ebedf1;
        margin-bottom: 10px;
    }

    &-item {
        border-bottom: dashed 1px #ebedf1;
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        background-color: transparent;
        transition: background-color .3s linear;

        &:last-of-type {
            border-bottom: none;
        }

        &:hover {
            background-color: $color3;
        }

    }

    &-time-container {
        display: table-cell;
        border-left: solid 3px $color4;
    }

    &-time {
        // display: inline-block;
        padding: 10px;
        // border-radius: 5px;
        // background-color: $color2;
        // color: white;
        // display: table-cell;
    }

    &-amount {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &-total {
        margin: 5px 0;
        text-align: right;
        margin: 5px 0;

        &-ml{
            font-weight: normal;
        }
    }

}

.toggleContainer {
    display: block;
    text-align: right;

    .edit-text {
        font-size: 14px;
        font-weight: bold;
    }

    // .edit-toggle {
    //     float: right;
    // }
}

.modify-buttons {
    display: block;
    height: 0;
    text-align: center;

    .fa {
        margin: 10px 0;
    }
}