@import './variables.scss';
.App {
  /* font-family: 'Roboto', sans-serif; */
  font-family: $mainFont;
  color: $color1;
}

label {
  display: block;
}

.half-coloumn {
  width: 48%;
  display: inline-block;
}

.full-coloumn {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}